<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello! Please type in your name:</h1>
    <form method="post" action="greet_the_person">
        <label>Name:</label>
        <input type="text" name="person_name"></input>
        <br/>
        <label>Age:</label>
        <input type="text" name="age"></input>
        <input type="submit" value="Enter"></input>
    </form>
</body>
</html>